<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HR.UI.Properties.Settings.InsanKaynaklariConnectionString"
            connectionString="Data Source=.;Initial Catalog=InsanKaynaklari;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HR.UI.Properties.Settings.DB140320164404ConnectionString"
            connectionString="Data Source=94.73.146.7;Initial Catalog=DB140320164404;User ID=USR140320164404;Password=PSS!V3N8S1%"
            providerName="System.Data.SqlClient" />
        <add name="HR.UI.Properties.Settings.DB140418123453ConnectionString"
            connectionString="Data Source=94.73.145.7;Initial Catalog=DB140418123453;Persist Security Info=True;User ID=USR140418123453;Password=PSS!X4P8V2%"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

  <!--<compilation debug="true" />-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NoticeServicesSoap" />
                <binding name="CompanyServicesSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://eserkucuker.com/NoticeServices.asmx"
                binding="basicHttpBinding" bindingConfiguration="NoticeServicesSoap"
                contract="HRServiceNoticeInsertApp.NoticeServicesSoap" name="NoticeServicesSoap" />
            <endpoint address="http://eserkucuker.com/CompanyServices.asmx"
                binding="basicHttpBinding" bindingConfiguration="CompanyServicesSoap"
                contract="HRServiceCompanyInsertApp.CompanyServicesSoap" name="CompanyServicesSoap" />
        </client>
    </system.serviceModel>
</configuration>